table.tbl-data {
	border-top: 2px solid var(--bs-secondary-color);
	border-bottom: 2px solid var(--bs-secondary-color);
	border-collapse: collapse;

	& tr {
		border-bottom: 1px solid var(--bs-tertiary-color);
	}

	& th,
	& td {
		padding: 0.5rem;
	}
}
